* {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.container {
  padding-top: 6vh;
  height: auto;
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.centerTable {
  margin-left: auto;
  margin-right: auto;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  width: 950px;
  flex-direction: column;
}

.row {
  margin-top: 35px;
}

.btn {
  width: 145px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid black;
}

.btnSubmit {
  font-weight: bold;
  background: cyan;
  border: 2px solid black;
}

.inputBox {
  margin-left: 50px;
  width: 230px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid black;
}

.alignRight {
  text-align: right;
}

td {
  padding-top: 15px;
}

.login-btn {
  margin-top: 15px;
}

.register-btn {
  margin-left: 5px;
}

.register-table td,
.login-table td {
  padding-top: 15px;
}

.welcome-text {
  margin: 45px 0;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: #bfbfbf;
  overflow: auto;
  border-radius: 7px;
}

.navbar a {
  border: 2px solid black;
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  width: 23.5%;
  text-align: center;
}

.more {
  padding-left: 160px;
}

.btn-register {
  margin-top: 10px;
  margin-left: 50px;
}

.more-login {
  padding-left: 90px;
}

.btn-login {
  margin-top: 10px;
  margin-left: 50px;
}

.login-success-container {
  padding-top: 2vh;
  height: auto;
  display: flex;
  justify-content: center;
}

.heading {
  margin-bottom: 60px;
}

#active-link {
  background-color: white;
  color: black;
}

.header {
  margin: auto;
  border-radius: 4px;
  margin-top: 2vh;
  width: 100%;
  border: 2px solid black;
}

.header-text {
  display: inline-block;
  text-align: center;
  width: 97.2%;
  font-size: 20px;
  padding: 10px 0;
}

.close-icon {
  background-color: rgb(199, 199, 199);
  border: 2px solid black;
  padding: 10px 15px;
}

.messages-container {
  height: 50vh;
  border: 1px solid black;
}

.messages-div {
  margin-top: 50px;
  margin-left: 15px;
}

.messaging {
  border: 2px solid black;
  border-top: 1px solid black;
  width: 100%;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
}
.chat-text {
  width: 70%;
  padding: 5px 0;
  font-size: 20px;
  border-radius: 5px;
  margin: 0 25px;
}
.chat-text::placeholder {
  padding-left: 10px;
}
.msg-el {
  padding: 0;
  margin: 0 0 0.5px 0;
}
.btn-chats {
  font-weight: bolder;
}

.users-list-table {
  width: 99.5%;
  /* height: 70vh; */
  outline: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: auto;
  overflow-x: hidden;
  font-size: 18px;
}

.td-center {
  text-align: center;
}

.users-list-table tr:nth-child(even),
.manage-documents-table tr:nth-child(even) {
  background-color: #dfdfdf;
}

.users-list-table td,
.manage-documents-table td,
.manage-documents-table th {
  border-right: 1px solid black;
}

.primary-td {
  width: 40%;
}

.empty-row td {
  padding: 18px;
  border-style: 0 solid black;
}

.table-header {
  background-color: #bfbfbf;
  height: 40px;
}

.users-list-table a,
.manage-documents-table a {
  text-decoration: none;
  color: black;
}
.users-list-h1 {
  margin: 20px 0 20px 20px;
}

.manage-documents-table {
  width: 100%;
  /* height: 28vh; */
  outline: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom: 1px solid black;
  overflow-x: hidden;
  font-size: 18px;
}

.last-td {
  position: relative;
}

.stick {
  position: absolute;
  bottom: 3px;
  left: 0;
  border: 1px solid black;
  font-weight: normal;
}

.stick span {
  font-size: 18px;
  /* margin-right: 1%; */
}

.second-heading {
  margin: 40px 0;
}

.choose-user-h3 {
  display: inline;
  /* margin-right: 42em; */
}

.button-white {
  background-color: white;
}

.logout-msg {
  text-align: center;
  margin-top: 100px;
}

.logout-text {
  margin-left: 25px;
}

/* For ManageDocs and Shared Page */

.my-btn-close {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-weight: bolder;
  text-align: center;
}

.my-table td {
  padding: 10px;
}

.my-table {
  width: 100%;
  border-collapse: separate;
  border: 2px solid black;
  border-radius: 3px;
  border-spacing: 0px;
  margin: 25px 0;
  font-size: 0.9em;
}

.strong {
  font-weight: bold;
}

.my-table thead th:first-child {
  border-right: 2px solid black;
}

.my-table thead th:nth-child(2) {
  border-right: 2px solid black;
}

.my-table thead th:nth-child(3) {
  border-right: 1px solid black;
}

.my-table tbody td:first-child {
  border-right: 2px solid black;
}

.my-table tbody td:nth-child(2) {
  border-right: 2px solid black;
}

.my-table thead tr {
  background-color: #c0bcbc;
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.my-table thead th {
  padding-left: 5px;
  height: 35px;
}

.my-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.my-table tbody td {
  border-right: 1px solid black;
  height: 18px;
  padding-left: 5px;
}

.my-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.my-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.noDeco {
  text-decoration: none;
  color: black;
}

.header-text-bold {
  font-weight: bold;
  font-size: 32px;
}

.header-text-regular {
  font-size: 32px;
}

.label-text-bold {
  font-weight: bold;
  font-size: 19px;
}

.addSharingSection {
  padding: 20px 20px 15px;
  border: 2px solid black;
  border-radius: 3px;
}

.addSharingSection button {
  margin-left: 20px;
}

option {
  border-radius: 2px;
}

.btn-add-upload {
  background: cyan;
  font-weight: bold;
}

/* For Custom Modals */

.my-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 650px;
  max-width: 650px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: 2px solid black;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
}

.confirm-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 380px;
  max-width: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: 2px solid black;
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  flex-direction: flex;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.my-modal-header {
  display: flex;
  flex-direction: row;
  padding: 2px 16px;
  background-color: whitesmoke;
  text-align: center;
  border-bottom: 2px solid black;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.my-modal-header .header-title {
  flex: 1;
  text-align: center;
  font-size: 15px;
}

.my-modal-body {
  padding: 20px 20px 80px;
  height: 120px;
}

.modal-confirm-body {
  padding-top: 20px;
  padding-left: 10px;
  height: 120px;
  margin: 10px;
}

.modal-wrapper {
  flex: 1;
  display: inline-flex;
  text-align: left;
  font-size: 15px;
}

.modal-table {
  width: 100%;
}

.modal-table td {
  width: 50xp;
}

.centerCell {
  text-align: center;
}

.button-group {
  padding: 30px 5px;
}

.modal-confirm-body .button-group {
  padding: 0px;
  width: 300px;
}

.btn-modal {
  width: 110px;
  font-weight: bold;
  background: lightgray;
}

.left-spacing {
  margin-left: 50px;
}

.left-spacing-sm {
  margin-left: 20px;
}

.top-spacing-sm {
  padding-top: 10px;
}

.item-group {
  text-align: left;
  padding: 30px 5px 0px;
}

.modal-input {
  width: 400px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: rgb(82, 73, 73);
}

.btn-confirm {
  height: 30px;
}

.btn-chooseFile {
  height: 30px;
}

.btn-ok {
  width: 80px;
}
